@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Seaweed+Script&display=swap%27');
 

div{text-align: center;}

.contatos{text-align:end;}

.paragrafo1{font-size:24px; text-align: end;}

.paragrafo2{font-size: 18px;  text-align: end;}

h1{font-size: 72px; color: #A93983; font-family: 'Seaweed Script', cursive;}

.direitos{text-align: center;}
